.hlavicka {
  background-image: url('/src/assets/pasta.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #616e68;

  font-weight: bold;
  font-size: 24px;
  overflow: auto;
  padding: 50px 15%;
  margin: 0 5%;
  text-align: center;
}
